body {
    color: rgb(9, 59, 59);
    background-image: url('DNA2.jpg');
    color: #FFFFFF;
    object-fit:cover;
    }

ul {
    font-family: helvetica;
}
.header {
    padding: 60px;
    text-align: center;
    background: #0f0f4d;
    color: white;
    font-size: 30px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: #0f0f4d;
    color: white;
    justify-content: space-around;
    padding: 100px 100px 100px 100px;
    margin: 100px 100px 100px 100px;
    text-align: center;
    font-size:x-large;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: #0f0f4d;
    color: white;
  }